{
    "plugins": ["@typescript-eslint", "prettier"],
    "parser": "@typescript-eslint/parser",
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "browser": true,
      "es6": true,
      "jest": true,
      "jquery": true,
      "node": true
    },
    "rules": {
      "prettier/prettier": "warn",
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
      "@typescript-eslint/no-explicit-any": "error",
      "prefer-const": "error"
    }
}
  