textarea:focus {
    outline:0;
}
.centerBody {
    max-width:1200px;
    margin:0 auto;
}

.subsection {
    /* margin-top: 70px;*/
}

.section {
    margin-top: 70px;
}

.fullSection {
    margin-top: 70px;
}

body{
    font-family: ProximaNova;
    font-weight: 400;
    margin: 50px;
}
.mobileOnly {
    display:none;
}

h2{
    font-weight:normal;
    font-size:  32px;
}

.logoBorder {
    display:none;
}
/************** BOX ********************/

* {
    box-sizing: border-box;
}

/** Column Widths **/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/** Special columns for the logo row **/
.col-1-logo   {width:56px;}
.col-3-logo {width: calc(33.33% - 56px);}
.col-2-logo {/*width: 170px;*/}
.col-4-logo { width: calc(70% - 396px);}
.col-8-logo { width: calc(100% - 370px); }

.col-2-signup {width: 170px; padding-top:30px !important; }
.col-10-signup { width: calc(100% - 170px); }

.col-card {width: 350px; padding-top:30px !important; }
.col-card-margin { width: calc(50% - 360px); }
.col-card-separator { width: 20px; }
.col-card-separator2 {width:calc(67% - 360px); }

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 5px;
    /*border: 1px solid red;*/
}
/****************************************/

.CenterAligned {
    text-align: center !important;
}


.reversed {

    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    flex-direction: row-reverse;

}

.inputLine {
    height: 2px;
    width: 100%;
    background-color: #4a4a4a;
}

.inputLightLine {
    height: 2px;
    width: 100%;
    background-color: #AAAAAA;
}

.inputText {
    width:100%;
}

.noHighlight {
    text-decoration: none;
}

.topBoundary {
    margin-top:50px;
}

.topBoundary2 {
    margin-top:30px;
}

.inputText input {
    border: 0px;
    width: 100%;
    font-family: ProximaNova, sans-serif;
    font-size: 25px;
    padding: 10px 0;
    outline: none;
}

.inputTextLarge input {
    border: 0px;
    width: 100%;
    font-family: ProximaNova;
    font-size: 35px;
    padding-left:0px;
    outline: none;
}


#generationLabelHome {
    font-size:34px;
    color:#999;
    text-align: center;

}
.spinnerHome {

}


.leftClear {
    clear:left;
}

.extensionCell {
    width: 243px;
    float: right;
    padding-right: 52px;
}

.logoCell {
    height: 56px;
}


.logo {
    height: 100%;
}

.xqMsgCell {
    height:56px;
}

.xqMsg {
    width: 100%;
    height: 55%;
    vertical-align: middle;
    font-size:34px;
    font-family:sans-serif;
    margin-top: 2px!important;
}

.star{
    width: 20%;
    padding: 5px;
    float: left;

}

.PrimaryText{
    font-size: 48px;
    line-height: 1.25;
    text-align: left;
    margin-bottom:30px;
}

.PrimaryTextCentered{
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    margin-bottom:30px;
}

.SecondaryTextCentered{
    font-size: 28px;
    line-height: 2.25;
    text-align: center;
    margin-bottom:30px;
    margin-top:30px;
}

.EnterMessageText{
    font-size: 48px;
    line-height: 1.25;
    text-align: left;
    margin-bottom:30px;
    color:#999;
}



.SubPrimaryText {
    font-size:40px;
}

.SecondaryText {
    font-family:ProximaNova;
    font-size: 32px;
    line-height: normal;
    text-align: left;
    margin-bottom:30px;

}

.subSecondaryText{
    font-family:ProximaNova;
    font-size: 24px;
    line-height: normal;
    text-align: left;
    margin-bottom:30px;
}


.TertiaryText {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    margin-bottom:30px;
    font-family: sans-serif;

}
.TertiaryText-Inline {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    margin-bottom:30px;
    font-family: sans-serif;
    display: inline-block;

}

.tertiarybumpers {
    margin-left: 20%;
    margin-right: 20%;
}
.productbumpers{
    margin-left: 20%;
    margin-right: 20%;
}

.crossplatformsvg{
    height: 290px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -5%;
    margin-bottom: 18%;
}

.slackdetailimg{
    height: 220px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -5%;
    margin-bottom: 18%;
}


#home-quantum-key-review {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 32px;

    font-family: ProximaNova;
    color: #d1d0c5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#home-quantum-key-review span {
    color: #c5cdd1;
    font-weight: lighter;
}

.TitleButtonWide {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    /*background-color: #0082FF;
          box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.12);*/
}

.TitleButtonTextWide {

    font-family: ProximaNova;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 48px;
    border:0px;
}

.TitleButton {
    font-size: 1.2em !important;
    /*height: 68px;*/
}

.TitleButtonText {
    font-size: 16px;
    line-height: 43px;
}

.screenTitleCell {
    text-align: center;
    width: 100%;
    margin-top: 40%;
}

.screenTitleCell2 {
    margin-top: 30% !important;
}

.mainTitleCell, dangerTitleCell {
    width: 100%;
    margin-top: 40px;
}

.getStartedCell {
    margin-top:40px!important;
    /*margin-bottom:90px;
    margin: 0 auto;*/
    display: table;
}
.emailprotection,.halfscreenshot, .screenshot, .internetdanger,   .security, .xqservice, .freeforever, .supersafe, .messageexpiration, .crossplatform {
    width:100%;
}
.slackimage{
    width:95%;
    margin-left: 5%;
}

.emailprotection {
    height: 368px;
}
.screenshot {
    height: 738px;
}
.halfscreenshot
{
    height: 480px;
}

.internetdanger {
    height: 347px;
}

.security {
    height: 222px;
}

.halfshotbuffer{
    margin-top: 180px;
}

.xqservice {
    height:421px;
}

.freeforever {
    height: 264px;
}

.supersafe {
    height: 219px;
}

.messageexpiration {
    height:255px;
}

.card_02 {
    height: 540px;
    margin-bottom: 80px;
}

.crossplatform {
    height:273px;
}



.FREE {
    padding-top:10px;
    width: 100%;
    height: 39px;
    font-size: 26px;
}

.Zero-small {
    font-size:24px;
}

.Zero-price  {
    height: 49px;
    font-size: 56px;
    letter-spacing: 7px;
    margin-left:-10px;
}

.Find-Out-More {


    padding-top:25px;
    width: 100%;
    height: 49px;
    font-size: 24px;

}

.Quantum-Safe {
    width: 246px;
    height: 300px;
    font-size: 20px;
    line-height: 1.4;
    margin-left:20px;
}

.aboutCompanyCell {
    margin-top:150px;
    PADDING-TOP: 150PX;
}

.Company {
    width: 270px;
    height: 20px;
    font-size: 24px;

}

.copyrightCell {
    width:100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.aboutCompanyCell a {
    text-decoration: none;
    color: #4a4a4a;
}

.About-Us-Contact-Us {
    width: 270px;
    height: 160px;
    font-size: 15px;
    line-height: 1.6;
}

.XQ-Msg-by-X-Quantum {
    height: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 1.71;
}

.planButtonCell {
    /* margin-top: 20px;
     margin-left: calc(50% - 105px);*/
    height: 100%;
    margin: 0 auto;
    display: table;
}

.planButtonCell2 {
    /* margin-top: 20px;
     margin-left: calc(16%);*/
    height: 100%;
    margin: 0 auto;
    display: table;
}


.paddedRow {
    margin-top:40px;
    margin-bottom:40px;
}



.SignupPadding {
    padding-left:5%;
    padding-right:5%;
}

select {
    height: 44px;
    background-color: transparent;
    border: 0px;
    width: 100%;
    font-size: 30px;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
}

select:focus {
    outline:none;
}

.dropbtn:hover:enabled, dropbtn:focus:enabled {
    outline: 0;
    background: #0082ff;
    color: #fff;
}

.dropbtn {
    color: #0082ff;
    font-size: 1.2em !important;
    cursor: pointer;
    padding: .55em 1.3em;
    border: 2px solid #0082ff;
    border-radius: 8px;
    right: 20px;
    bottom: 20px;
    margin: 0;
    background-color: transparent;
    background-size: contain;
    display: inline-block;
    text-align: center;
}

.dropbtn:disabled,
dropbtn[disabled]{
    border: 2px solid rgb(193 206 194);
    color: rgb(193 206 194);
}

.ButtonSpacer{
    margin-top:100px;
    text-align: right;
}

button.fs-resend:hover {
    background-color: #0082FF;
    color: #fff;
}

.fs-augment {
    width: 400px;
}

button.fs-resend {
    padding: 0.6em 1.5em;
    border: 2px solid #0082FF;
    border-radius: 8px;
    font-weight: 300;
    font-family:ProximaNova, Arial, sans-serif;
    color: #0082FF;
    margin: 0 40px 60px 0;
    font-size: 1.25em;
    background-color:transparent;
    cursor:pointer;
}

.error {
    color: #883333;
    font-size: 34px;
    font-weight: normal;
}

.row-lead {
    margin-top:100px;
}

#new-result-email {
    margin-left:30px;
}


#new-result-copy  {
    margin-left:0px;
}

#new-result-reverse {
    margin-left:30px;
}

#result-rewind-div {
    width:60px;
    height:60px;
    float:right;
    margin-top: -6px;
}


#new-encrypt-button {
    width: 20% !important;
    max-width: 160px;
    text-align: center;
}

#new-decrypt-button {
    width: 20% !important;
    text-align: center;
    max-width: 160px;
    margin-left:30px;
}


#dynamic-text {
    width: 100%;
    font-size: 25px;
    resize: none;
    border: 0px;
    font-family: ProximaNova, sans-serif;
    font-weight: 400;
    height: 40px;
    color: #555555;
    line-height: 55px;
    overflow: hidden;
    letter-spacing: normal;
}

#dynamic-text-result {
    width: 100%;
    font-size: 30px;
    resize: none;
    border: 2px solid #0082FF;
    font-family: sans-serif;
    font-weight: 400;
    height: 250px;
    color: #555555;
    letter-spacing: normal;
}

#message-content {
    height:230px;
    overflow-y:auto !important;
    background-color:#fff;
    padding:1em;
    border-radius:10px;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.client-name {
    color: #0082ff;
}

.server-msg {
    color:#004085;
}

#current-identity {
    font-weight: 400;
    font-family: sans-serif;
    color:#0082ff;
}


body {
    font-family: Raleway;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
    color:#0082ff;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #0082FF;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background-color: #0082FF;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background-color: #0082FF;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}
